In [6]:
a = ['2024/5/20', '2024-5-2', '20.5.2024']
for b in a:
    print(b, format_date(b))

2024/5/20 2024/05/20
2024-5-2 2024/05/02
20.5.2024 2024/05/20